extends ../layout
include ../components/main-nav
include ../components/sidebar

block content
  .admin.wrapper
    +main-nav()

    .content
      +sidebar('Admin Tools')
        +sidebaritem('Users', '/admin', true);
        +sidebaritem('Servers', '/admin/servers', false);

      .model-data.module
        h1 Users
        table
          th Name
          th Email
          th Password
          th Type
          each user, i in users
            - var klass = (i % 2 === 0) ? '' : 'odd';
            tr(class=klass)
              td= user.name
              td an email
              td ****** 
              td= user.type


        - var start = (page - 1) * numPerPage
        - var max = Math.floor((maxEntries - 1) / numPerPage) + 1
        p showing !{start} - !{start + users.length} of !{maxEntries}
        .navigation
          if (page > 1)
            a(href="/admin?page=" + (page - 1)).nav-button prev

          - for (var i = -2; i < 3; ++i)
            if (i == 0)
              span.nav-button= page
            else if (page + i > 0 && page + i <= max)
                a(href="/admin?page=" + (page + i)).nav-button= page + i

          if (page !== max)
            a(href="/admin?page=" + (page + 1)).nav-button next


//- prev 1 ... 4 <5> 6 ... 20 next
//- prev 1 2 3 <4> 5 ... 20 next
